[Unit]
Description=Modufur
Requires=default.target
After=default.target

[Service]
WorkingDirectory=/home/user/.git/Modufur
ExecStart=poetry run python -OO run.py >&2

[Install]
WantedBy=default.target
