[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

[packages]
aiohttp = "*"
beautifulsoup4 = "*"
"discord.py" = {extras = ["voice"], git = "https://github.com/Rapptz/discord.py", ref = "rewrite"}
gitpython = "*"
google-api-python-client = "*"
hurry = "*"
"hurry.filesize" = "*"
lxml = "*"
pyrasite = "*"
requests = "*"
websockets = "*"

[dev-packages]
